<!--header-->
<headerbox [title]="'关于'"></headerbox>
<!--header-->
<div class="weui-msg main_back7">
	<div><img src="./images/06_6gy_r1_c3.png" class="img8"></div>
</div>
<div class="main_back3">
	<a href="javascript:void(0);" class="weui-media-box2 weui-media-box_appmsg">
		<img class="img4" src="images/06_7bbxx_r1_c1.png" alt="">
		<div class="weui-media-box__bd">
			<div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">版本</h4>
                <p class="weui-media-box__desc">当前版本1.0</p>
            </div>
		</div>
	</a>
	<a href="javascript:void(0);" class="weui-media-box2 weui-media-box_appmsg">
		<img class="img4" src="images/06_7bbxx_r3_c1.png" alt="">
		<div class="weui-media-box__bd">
			<div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">官网</h4>
                <p class="weui-media-box__desc">www.rtwm.com.cn</p>
				<p class="weui-media-box__desc">© 2013-2017  融通物贸版权所有</p>
            </div>
		</div>
	</a>
	<a href="javascript:void(0);" class="weui-media-box2 weui-media-box_appmsg">
		<img class="img4" src="images/06_7bbxx_r5_c1.png" alt="">
		<div class="weui-media-box__bd">
			<div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">微信公众号</h4>
                <p class="weui-media-box__desc">融通物贸大宗商品电子商务平台</p>
            </div>
		</div>
	</a>
</div>
<!--footer-->
<footerbox></footerbox>
<!--footer-->
